<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <% include partials/searchForm %>
        <% if (searchQuery) { %>
          <div class="container">
            <span><%= searchQuery.results.total_results %> result<% if (parseInt(searchQuery.results.total_results) > 1) { %>s<% } %> for "<%= searchQuery.q %>"</span>
              <% for(var i=0; i<searchQuery.results.results.length; i++ ) { %>
                <% if(searchQuery.results.results[i].media_type !== 'person') { %>
                  <div class="row top-buffer<% if (i%2) { %> bg-light<% } %>">
                    <div class="col-sm-2">
                      <img src="
                      <% if(searchQuery.results.results[i].poster_path) { %>
                        //image.tmdb.org/t/p/w92/<%=searchQuery.results.results[i].poster_path%>
                      <% } else { %>
                        http://via.placeholder.com/92x138
                      <% } %>" alt="Poster image for <%= searchQuery.results.results[i].title %>" />
                    </div>
                    <div class="col-sm-8">
                      <h3>
                        <%= searchQuery.results.results[i].title || searchQuery.results.results[i].name %>
                        <% if(searchQuery.results.results[i].media_type !== 'person') { %>
                          (<%= new Date(searchQuery.results.results[i].release_date || searchQuery.results.results[i].first_air_date).getFullYear();%>)
                        <% } %>
                      </h3>
                      <h4><%= searchQuery.results.results[i].media_type %></h4>
                      <p><%= searchQuery.results.results[i].overview %></p>
                      <%
                        var found = movies.find(function(element) {
                          return element._id === searchQuery.results.results[i].id.toString();
                        });
                        if(found) { %>
                          <a href="#" class="btn badge badge-secondary add-request disabled"><%= found.status %></a>
                      <%  } else { %>
                          <a class="badge badge-info add-request" data-tmdbid="<%= searchQuery.results.results[i].id %>" data-title="<%= searchQuery.results.results[i].title %>" data-year="<%= new Date(searchQuery.results.results[i].release_date).getFullYear(); %>" href="#">+ Request</a>
                      <%  } %>
                    </div>
                  </div>
                <% } %>
              <% } %>
          </div>
        <% } %>
      </div>
      <div class="offset-sm-1 col-sm-3">
        <div class="card card-body bg-light">
          <h2>Requests</h2>
          <ul class="movies">
            <% for(var i=0; i<movies.length; i++) { %>
              <li class="movie">
                <span><a href="<%= movies[i].url %>" target="_blank"><%= movies[i].movie_name %></a> -</span>
                <span><%= movies[i].status %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% include partials/js %>
</body>
</html>
