<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <% include partials/searchForm %>
        <% if (searchQuery) { %>
          <div class="col-sm-8">
            <span><%= searchQuery.results.total_results %> result<% if (parseInt(searchQuery.results.total_results) > 1) { %>s<% } %> for "<%= searchQuery.q %>"</span>
            <div class="row">
              <% for(var i=0; i<searchQuery.results.results.length; i++ ) { %>
                <div class="col-sm-4">
                  <img src="http://image.tmdb.org/t/p/w92/<%= searchQuery.results.results[i].poster_path %>" alt="Poster image for <%= searchQuery.results.results[i].title %>" />
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
      
      <div class="offset-sm-1 col-sm-3">
        <div class="card card-body bg-light">
          <h2>Requests</h2>
          <ul class="movies">
            <% for(var i=0; i<movies.length; i++) { %>
              <li class="movie">
                <span><a href="<%= movies[i].imdb_url %>" target="_blank"><%= movies[i].movie_name %></a> -</span>
                <span><%= movies[i].status %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% include partials/js %>
</body>
</html>
